*{
    margin: 0;
    padding: 0;
}

.page{
    display: grid;
    grid-template-rows: 200px auto 1fr;
    transition: grid-template-rows 0.5s ease;
}

.header{
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d9488;
}


.form-book{
    height: 210px;
    background-color: #bab6b6;
    display: grid;
    grid-template-columns: 70% 30%;
    transition: all 0.5s ease; 
    opacity: 1;
}

.fields{
    padding: 25px 15vw;
    display: grid;
    grid-template-columns: max-content 1fr max-content 1fr;
    align-items: center;
    gap: 1.5rem;
    
}

.form-btn{
    display: flex;
    justify-content: space-around;
    grid-column: 2 / 3;
    align-items: center;
    padding: 10px 10px;
}

/* .add-book-btn{
    border-radius: 50px;
    padding: 30px 50px;
    font-size: 20px;
    border: 1px solid grey;
} */


.book-list{
    background-color: #0d9488;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh; 
    align-content: flex-start;
    flex-grow: 1;
}


.book{
    background-color: white;
    border: 1px solid #ffffff;
    padding: 40px;
    width: 200px;
    height: 120px;
    margin: 10px 20px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
}

.book button{
    align-self: flex-end;
    background-color: #0d9488;
    color: white;
    border: 1px solid #0d9488;
    border-radius: 4px;
    padding: 8px 16px;
}

.book button:focus {
    outline: none;
    border-color: #0a7d77;
}
.book button:hover{
    background-color: #0a7d77;
}

.book p input{
    margin-left: 10px;
}

.hidden {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    outline: none; 
    padding: 10px 10px;
    border-radius: 10px;
}

select{ outline: none; 
    padding: 10px 10px;
    border-radius: 10px;
   }

.select-items {
    border-radius: 10px;
  }

#toggleForm, .add-book-btn {
    background-color: #0d9488;
    color: white;
    border: 1px solid #0d9488;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggleForm,.add-book-btn:hover {
    background-color: #0a7d77;
}

#toggleForm, .add-book-btn:focus {
    outline: none;
    border-color: #0a7d77;
}

